
@{
    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.rtl.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.rtl.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Deneme</title>
</head>
<body>
    <h1>Burası Şehir Paneli</h1>
    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Ülke</th>
            <th>Şehir</th>
            <th>Nüfus</th>
            <th>Bayrak</th>
        </tr>
        <tr>
            <td>@ViewBag.v3</td>
            <td>@ViewBag.v4</td>
            <td>@ViewBag.v1</td>
            <td>@ViewBag.v2</td>
            <td>@ViewBag.v5 @ViewBag.v6</td>

        </tr>
        <tr>
            <td>2</td>
            <td>Türkiye</td>
            <td>İstanbul</td>
            <td>20000000</td>
        </tr>
        <tr>
            <td>@ViewBag.z1</td>
            <td>@ViewBag.z2</td>
            <td>@ViewBag.z3</td>
            <td>@ViewBag.z4</td>
        </tr>
    </table>
    <a href="/Default/Urunler" class="btn btn-info">Ürünlere Git</a>
</body>
</html>
